{% extends 'base.html' %} {% block content %}
<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="heading-section mb-4">
          <h4>{% if estado %}Editar{% else %}Novo{% endif %} Estado</h4>
        </div>
        <form method="post">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label>Nome:</label>
            <input
              type="text"
              name="nome"
              class="form-control"
              value="{{ estado.nome|default:'' }}"
            />
          </div>
          <div class="form-group mb-3">
            <label>Sigla:</label>
            <input
              type="text"
              name="sigla"
              class="form-control"
              value="{{ estado.sigla|default:'' }}"
            />
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
