{% extends 'base.html' %} {% block content %}
<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="heading-section mb-4">
          <h4>Lista de Produtos</h4>
        </div>
        <a href="{% url 'produtos:novo' %}" class="btn btn-success mb-3"
          >Novo Produto</a
        >
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>Descrição</th>
              <th>Preço</th>
              <th>Quantidade</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for produto in produtos %}
            <tr>
              <td>{{ produto.descricao }}</td>
              <td>R$ {{ produto.preco }}</td>
              <td>{{ produto.quantidade }}</td>
              <td>
                <a
                  href="{% url 'produtos:editar' produto.id %}"
                  class="btn btn-warning btn-sm"
                  >Editar</a
                >
                <a
                  href="{% url 'produtos:excluir' produto.id %}"
                  class="btn btn-danger btn-sm"
                  >Excluir</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
